name: Maven and Docker Build
on:
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        distribution: 'sapmachine'
        java-version: '25'
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Build Docker image
      run: docker build . --file Dockerfile --tag dishant/person-api:$(date +%s)
