name: Maven and Docker Build
on:
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        distribution: 'sapmachine'
        java-version: '25'
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Build Docker image
      run: docker build . --file Dockerfile --tag dishant/person-api:$(date +%s)
